<!-- editor body -->
<form class="sc-normal-editor" ng-non-bindable>
    <textarea id="sc-code-editor" name="sc-code-editor"><% unless source_codes.nil? %><%= source_codes[0] %><% end %></textarea>
</form>
<!-- /editor body -->

<% if readonly != nil && readonly == true %>
    <%# readonly %>

    <script type="text/javascript">
        $(function() {
            sc_setup_editor({
                readonly: true
            });
            $('#sc-code-editor').autosize();
        });
    </script>

<% else %>
    <%# normal %>
    <script type="text/javascript">
        $(function() {
            sc_setup_editor({
                extra_key: {
                    "Ctrl-Enter": (function() {
                        var s = angular.element($("#sc-code-editor-ctrl")).scope();
                        s.$apply(function () {
                            s.submit_all();
                        });
                    })
                }
            });
        });
    </script>
<% end %>
