<%# editor body %>
<form class="sc-normal-editor" ng-non-bindable>
    <textarea id="sc-code-editor" name="sc-code-editor"><% unless source_codes.nil? %><%= source_codes[0] %><% end %></textarea>
</form>
<%# /editor body %>

<%# editor option %>
<span class="sc-output-t sc-std">stdout</span>
<%# /editor option %>

<script type="text/javascript">
<% if readonly != nil && readonly == true %>
    <%# readonly %>
    $(function() {
       sc_setup_editor({
           readonly: true
       });
    });

<% else %>
    <%# normal %>
    $(function() {
        sc_setup_editor({
            extra_key: {
                    "Ctrl-Enter": (function() {
                        var s = angular.element($("#sc-code-editor-ctrl")).scope();
                        s.$apply(function () {
                            s.submit_all();
                        });
                    })
                }
            });
        });
<% end %>
</script>
