<!-- editor container -->
<div id="sc-code-editor-ctrl" class="main">
    <%= render :partial => '_common/editor_core', :locals => {
        source_codes: @source_codes,
        readonly: true
    } %>
</div>
<!-- /editor container -->
