<div class="sc-main-editor" ng-controller="EntryController">
    <div class="inner-frame">
        <!-- editor/input container -->
        <div class="editor"  ng-controller="SourceCodeEditor">
            <%= render :partial => 'main_container' %>
        </div>
        <!-- /editor/input container -->

        <!-- mini container -->
        <div class="controller">
            <%= render :partial => 'sub_container' %>
        </div>
        <!-- /mini container -->

        <div class="dummy"></div>
    </div>
</div>
